{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<center>
<h1>Eccop Pro v0.2 Alpha testing</h1>

</center>
<p>
	Links d'interes:</br>
	<li>
		<ul><a href="prova">Fes Comanda (prova)</a></br></ul>
		<ul><a href="comanda">Comanda</a></br></ul>
		<ul><a href="productes">Productes</a></br></ul>
		<ul><a href="detall_comanda">Detall_comanda</a></br></ul>
		<ul><a href="report">Informe total dels productes</a></br></ul>
		<ul><a href="torns">Torns</a></br></ul>
		<ul><a href="contact">Contact</a></br></ul>
		<ul><a href="thanks">thanks</a></br></ul>
	</li>
</p>
{% endblock %}
