{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<center>
<h1>Eccop Pro v0.2 Alpha testing</h1>

</center>
<p>
	Links d'interes:</br>
	<li>
		<ul><a href="prova">Fes Comanda</a></br></ul>
		<ul><a href="contact">Contact</a></br></ul>
		<ul><a href="thanks">thanks</a></br></ul>
		<ul><a href="comanda">comanda</a></br></ul>
		<ul><a href="productes">productes</a></br></ul>
		<ul><a href="detall_comanda">detall_comanda</a></br></ul>
	</li>
</p>
{% endblock %}
