{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<center>
<h1>Report</h1>

</center>
Informe  de tots els productes que s'han demanat per el dia {{ dia }}. </br>

</br>
<!-- 
</br>
Aquesta es la llista en 'brut' que ens arriba al html: <br><br>
{{lista}}

<br><br><br><br><br>
Pro despres de treballar amb les dades arribem a aquet format:
<br><br>
-->
{%for a in lista %}
	{% for key,value in lista.items %}
		Proveidor: {{key}} <br>

		{% for key,value in value.items %}
			 - {{key}} : {{value}} kg/u<br>
		{% endfor %}
			<br><br>
	{% endfor%}
{%endfor%}








{% endblock %}
