{% if user.is_authenticated %}
<ul class="nav pull-right">
    <li class="dropdown">
        <a class="dropdown-toggle" id="dropuser" data-toggle="dropdown" href="#">{{ user.username }}</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropuser">
            <li><a href="{% url "marcador_bookmark_user" user.username %}">My bookmarks</a></li>
            <li><a href="{% url "mysite_logout" %}">Logout</a></li>
        </ul>
    </li>
</ul>
{% else %}
<form class="navbar-form pull-right" action="{% url "mysite_login" %}" method="post" accept-charset="utf-8">
    <input class="span2" type="text" placeholder="Username" name="username">
    <input class="span2" type="password" placeholder="Password" name="password">
    {% csrf_token %}
    <button type="submit" class="btn">Login</button>
</form>
{% endif %}
